* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 img {
  width: 360px;
  font-weight: 5000;
}
.preloader {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: midnightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 5.05s ease;
}
.end-preloader {
  opacity: 0;
  pointer-events: none;
}
.header{
  background: midnightblue ;
  color:white;
  height:290px;
 

}

h1{
  margin-left: 15px;
  font-weight: 3000;
 font-size: auto;
 
}
h3{
  letter-spacing: 3;
  font-weight: 400;
  margin-left: 15px;
  font-weight: 3000;
  font-size: 23px;

}
#photo{
 
  font-weight: 3000;
}
.form input{
  margin-left: 30px;
  margin-top: 50px;
  height:60px;
  width: 300px;
  border-bottom: 3px solid lightgrey ;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-radius: 2px;
 padding: 10px;
  outline:none;
  font-size: 17px;
 
}
.button{
  margin-bottom: 20px;
  margin-top: 30px;
  width: 300px;
  height: 60px;
  margin-left: 30px;
  outline: none;
  font-size: 17px;
  border-radius: 2px;
  border:none;
  color: white;
  background:blue;
}

.checkinput{
  width:0px;
 height:0px;
 margin-left: 80px;
 font-size: 30px;
 
}
.check{
  margin-left: px;
  margin-top: 30px;
  
}
.check label{
  font-size: 20px;
  font-weight: 3000;
  margin-left: 30px;
}
.form input:hover{
  border-bottom: 3px solid blue;
}
footer a{
  text-decoration: none;
  font-size:10px;
  padding: 10px;
  color: black;
  margin-left: 5px;
  
}
p{
  margin-left: 100px;
  margin-top:30px;
}


a button{
  margin-bottom: 20px;
  margin-top: 30px;
  width: 300px;
  height: 60px;
  margin-left: 30px;
  outline: none;
  font-size: 17px;
  border-radius: 2px;
  border:none;
  color: white;
  background:blue;
}