body{
  padding:0px;
  margin :0px;
  outline: none;
 
}

.header{
  background: midnightblue;
  color:white;
  padding: 0px;
  margin-top: 0px;
  
}
img{
 width:350px;
 height:200px;
 margin-bottom:30px;
}
#welcome{
position: absolute;
top:170px;
left: 30px;
font-weight: 3000;
}
.account{
  text-align: center;
  border:none;
  box-shadow: 1px 3px 6px ;
  height: 150px;
border-radius: 20px;

}
.account h1{
  color: green;
font-weight: 4000;
margin-top:40px;
}
.account h2{
  margin-top:40px;
font-family:  "Lucida Console", "Courier New", monospace;

}
h4{
  text-align: center;
}
.transaction h3{
  font-family: "Lucida Console", "Courier New", monospace;
color: green;
margin-left: 20px;
}
.transaction span{
  margin-left: 20px;
}

.account h1 span{
 font-family:"Lucida Console", "Courier New", monospace;
}
  
.transaction{
  text-align: center;
}
.fixed{
  display: flex;
  font-size: 12px;
position: fixed;
height:150px;
width: 100%;
left:0px;
bottom:0px;
top: 600px;
right: 30px;
z-index:2;
border-top: 3px solid midnightblue;
background: midnightblue;
color: white;
}
.fixed i{
  position: relative;
  top:9%;
  left:5%;
}


.fixed h2{
  position: relative;
  top:8%;
  right:7%;
}

.fixed h2:hover{
  color: green;
}
#boss{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  top:4%;
  left:80%;
}
#eye{
  font-size: 20px;
  position: absolute;
 left: 80%;
  top:50%;
}
.AC{
  text-decoration: none;
  color:white;
}
